*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background: #4C4300;
}
nav{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #B39C00;
    
    padding: 20px;
    z-index: 100;
}
nav {

    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 80px;
}

.navBar  a{
    padding: 15px 15px;  
    color: #FFE533; 
    text-transform: capitalize;
    text-decoration: none; 
    margin: 10px 40px;
   
}


nav a{
    /* padding: 10px 50px; */
    
   
}
 

 .navBar a.active ,
 .navBar a:hover{
    color: #4C4300;
    background: #FFE533;

}


 .logo img {
    width: 80%;
  
}
 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 50%;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: #FFE533;
    font-weight: bolder;
    padding-bottom: 0px;
    text-transform: uppercase;
}
.home{
    font-size: 2em;
    
}
.imgSlider{
    margin-top:90px;
    width: 100vw;
    height: 90vh; 
    overflow: hidden;
    position: relative;
    background-color: #4C4300;
    background-image: radial-gradient(
        #807000, transparent 50%
    );
}

 .list{
    position: absolute;
    width: 500%;
    
    display: flex;
    
    
   
}

.item img{
    width: 700px;
    height: 400px;

}

 .list .item.active{
    width: 90%;
    filter: drop-shadow(0 0 0 20px #191600);
}

.list input{
    display: none;
}

.item{
    width: 20%;
    transition: 2s;
    display: flex;
    margin-top: 10px;
    
    justify-content: center;
}


 
.manual-btn{
    border: 2px solid #FFEC66;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #FFEC66;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-manual,
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 420px;
    align-items: center;
    padding-left: 360px;
}

.navigation-auto div{
    border: 2px solid #FFEC66;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #FFEC66;
}
#radio2:checked~ .navigation-auto .auto-btn2{
    background: #FFEC66;
}
#radio3:checked~ .navigation-auto .auto-btn3{
    background: #FFEC66;
}
#radio4:checked~ .navigation-auto .auto-btn4{
    background: #FFEC66;
}



/* -------------------Categories-------------- */
#categories{
    background-color: #4C4300;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    border: 1px solid #98880f;
}
.text{
    border: 1px solid #98880f81;
    display: flex;
    flex-direction: row;
    background: #80710044;
    backdrop-filter: blur(18px);
    justify-content: center;
    align-items: center;
    color: #332d00;
}
.lines{
    
    display: flex;
    flex-direction: row;
   justify-content: flex-start;
   background: #807100b6;
    backdrop-filter: blur(18px);
    align-items: center;
    justify-content: center;
}
.box{
    position: absolute;
    
    display: flex;
    
    width: 100px;
    height: 40px;
    background-color: #E6C900;
    padding: 30px;
    margin: 180px 45px;
    
}
.box a{
    color: #332D00;
    font-size: 1rem;

}
.burgers, .fries, .submarines{
    margin-top: -100px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    
}
.container .lineOne{
    display: flex;
    
    position: relative;
   align-items: center;
   justify-content: center;
  
   
    margin-left: 120px;
   
}
.lineTwo{
   
    margin-left: -1080px;
}

.chicken, .pasta, .beverage{
    margin-top: 300px;

    position: relative;
    justify-content: center;
   align-items: center;
   margin-right: 100px;
   margin-left: 100px;
}
/* -------------------Search Foods-------------- */
#search{
    background: #4C4300;
}
.container2{
    border: 1px solid #98880f;
    margin-top: 0px;
    background: #332d00;
}
.text2{
    color: #332D00;
}
.searchBar{
    
    margin-top: -400px;
    padding: 350px 270px;
}
#searchField{
    
    width: 500px;
    height: 40px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.btnSearch{
    
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;

}

/* -------------------Menu-------------- */
#menu{
    background: #4C4300;
   
}
.container3{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1050px;
    
}
.bLines{
   margin-left: 100px;
   display: flex;
   justify-content: center;
   margin-top: -2000px;
}
.text3{
    position: relative;
    margin-left: 680px;
    margin-top: 300px;
    color: #332D00;
    font-size: 2.5rem;
    
}
.row{
    position: absolute;
    display: flex;
    flex-direction: row;
    
}
.row2{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
}
.card{
    position: relative;
    justify-content: center;
    border: 1px solid #80710082;
    margin: 10px;
   
    padding: 50px 25px;
    width: 200px;
    height: 100px;
    background-color: #807000;
}

.card:hover{
    
    box-shadow: .4px .2px 10px #918631;
}
.img {
    position: relative;
    top: -46px;
    left: -20px;
    padding-bottom: 75px;
    padding-right: 40px;
    margin-bottom: 100px;
}
.subHeading h3{
    position: absolute;
    margin-top: -1040px;
    margin-left: 120px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #332D00;
}
.para{
    width: 100px;
    left: 110px;
    top: -310px;
    font-size: .5rem;
    position: relative;
    text-align: justify; 
    
}
.para p{
    color: #FFEC66;
}
.price{
    margin-bottom: 15px;
}
.price h6,.price p{
    display: flex;
    flex-direction: row;
}
.exp {
    
    display: flex;
}
.exp p{
    margin-top: 2px;
}
.btnPanel{
    position: absolute;
    flex-direction: column;
    margin-top: -190px;
    margin-left: 6px;
}
.btnRow{
    position: relative;
    flex-direction: row;
    margin-top: -100px; 

} 
.btn{
    margin-bottom: -30px;
    margin-left: -15px;
    color: #FFEC66;
}
#btnAdd{
    padding: 6px 8px;
    color: #FFF9CC;
    border-radius: 10px;
    background: #4C4300;
    font-weight:bold ;
    
}
#btnEdit{
    padding: 5px 34px;
    color: #FFF9CC;
    border-radius: 10px;
    background: #4C4300;
    font-weight:bold ;
}

#btnBuy{
    padding: 5px 34px;
    color: #FFF9CC;
    border-radius: 10px;
    background: #4C4300;
    font-weight:bold ;
    margin-left: 120px;
}
#btnRemove{
    margin-left: 120px;
   
    padding: 5px 20px;
    color: #FFF9CC;
    border-radius: 10px;
    background: #4C4300;
    font-weight:bold ;
}
.btnRow2{
    position: relative;
    flex-direction: row;
    margin-top: 50px;
    
}
#btnEdit:hover, #btnAdd:hover, #btnBuy:hover, #btnRemove:hover{
    background: #FFF9CC;
    color: #4C4300;
}
/* ---------------------------------------------------------- */
@media(max-width:450px){
    section{
     width: device-width;
     
    }
     .imgSlider{
        margin-top: 93px;
         /* width:100%; */
         width: 100vw;
         height: 90vh; 
         text-align: center;
         font-size: 2.5rem;
     }
     .item.active{
         width: 100%;
         padding: 0;
         
         align-items: center;
     }
     .imgSlider img{
         width: 100%;
         
         margin:  5px;
     }
     
 
     .navigation-manual,
     .navigation-auto{
     padding-left: 140px;
     width: 20%;
     }
 
     nav{
         width: 100%;
         
     }
     nav{
         position: fixed;
     }

     .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: device-width;
        font-size: 1rem;
     }
     .text, .lines{
        
        display: flex;
         flex-direction: column;
         margin-left: 10px;
         margin-right: 10px;
         justify-content: center;
         align-items: center;
     }
     .container .lineOne{
        margin-left: 60px;
     }
     .lineTwo{
        margin-left: -540px;
     }
     .box{
        display: inline-block;
        flex-direction: row;
     }
 }
 
 

@media (max-width:650px){
    .item.active{
        width: 100%;
        padding: 0;
        
        align-items: center;
    }
    .imgSlider img{
        width: 100%;
        
        margin:  5px;
    }
    .navigation-manual,
    .navigation-auto{
        padding-left: 200px;
        width: 20%;
    }
    nav .smallScreen{
        display: none;
    }
    .imgSlider{
        width: 100vw;
    height: 100vh; 
    text-align: center;
    font-size: 2.5rem;
    }

    .navBar  a{
        width: 80%; 
    }
    .container{
        flex-direction: column;
    }
}

@media (max-width:800px){
    
    .navigation-manual,
    .navigation-auto{
    padding-left: 10px;
    width: 20%;
    }
    nav .smallScreen{
        display: none;
    }
}

