*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}


:root{
    --headingColor: #eee287;
    --txtHeadColor: #332D00;
    --btnMainColor: #4C4300;
    --btnColor: #807000;
    --btnTxtColor:#FFF9CC;
    --btnQty: #332D00;
    --bgColor:#4C4300;
}
body{
    background: #4C4300;
}

.container{
    

    position: absolute;
    grid-template-columns: repeat(4,1fr);
}
.heading{
    display: flex;
    position: absolute;
    flex-direction: row;
    margin: 10px;
    left: 650px;
}
.btnPanel{
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: 250px;
    flex-direction: row;
}
.btn{
    width: 100px;
    margin: 20px;
    padding: 10px 15px;
    color: var(--btnTxtColor);
    background: var(--btnColor);
    border-radius: 10px;
    border: 1px solid goldenrod;
}
.btn:hover{
    box-shadow: 2px 3px 18px goldenrod;
    color: rgb(236, 185, 58);
}

h2{
    
    color: var(--headingColor);
    font-size: 2.5rem;
}

.base{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 150px;
}
table{
    position: relative;
    margin:50px;
    margin-left: 80px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.th{
    
    margin-right: 20px;
    justify-content: space-between;
    padding: 10px 70px;
    border-bottom: 1px solid #332D00;
}
.cal{
    border: 1px solid goldenrod;
    width: 400px;
    height: 400px;
    position: relative;
    flex-direction: row;
    background: #aa9c3382;
    margin-left: 110px;
    color: #eee287;
}
.row{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4,1fr);
    margin: 50px;
    
}

.btnOrder{
    padding: 10px ;
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--btnColor);
    margin-left:  140px;
    margin-top: 100px;
    border: 1px solid goldenrod;
    color: #eee287;
    font-weight: bold;
}

.btnOrder:hover{
    background: #eee287;
    color: goldenrod;
    box-shadow: 2px 3px 18px goldenrod;
}

#calDet{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

#addTotal,#addDiscount,#addFinalAmount{
    margin-left: 20px;
}